.navbar{
	background-color: #fff;
}
body{
	background-color:#f6f6f6;
}
.navbar-dark{
    /* transition-property: background-color; */
    transition-duration: .3s;
    transition-timing-function: linear;
}
.navbar-light{
    /* transition-property: background-color; */
    transition-duration: .2s;
    transition-timing-function: linear;
}
.wrapper{
	background-color:white;
}
.jumbotron{
	padding-top: 0rem;
	margin-bottom: 0rem;
	height: 40rem;
	background-color: rgb(255, 255, 255);
}
#jumbo-body{
	padding-top: 15rem;
	/* position: relative; */
}
.jumbo-intro{
	opacity: 1;
}

.display-5{
	position: fixed;
	/* margin: 2rem; */
}
.lead{
	position: fixed;
	margin: 2rem;
}

#arrowdown{
	width: 5%;
	height: auto;
	/* position: relative; */
	padding: 0px;
	margin: 2rem;
	position: fixed;
	/* left: 50%;
	top: 70%; */
}
#wrap-cards{
	background-color:#f6f6f6;
}
.card{
	margin: 1px;
	padding: 0px;
	border-style: hidden;
}

/* .card-body{
	padding: 0px;
} */

img{
	border-radius: 10px;
}

.container-fluid{
	margin-top: 10rem;
	margin-bottom: 5rem;

}
#row1{
	display: flex;
	justify-content: center;
	align-items: center;
}
#row2{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	padding: 10px;
	margin-bottom: 10px;
}
#description{
	/* margin-top: 10rem; */
	
}
.media{
	padding-bottom: 2rem;
}
.tab-body{
	margin-top: 10rem;
	margin-bottom: 5rem;
}
#resume-body{
	/* padding: 2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
#resume{
	width: 100%;
	height: auto;
}
/* Slide effect */
#myContainer {
	width: 400px;
	height: 400px;
	position: relative;
	background: yellow;
}
#myAnimation {
	width: 50px;
	height: 50px;
	position: absolute;
	left:350px;
	top:350px;
	background-color: red;
}
#panel, #flip {
	padding: 5px;
	text-align: center;
	background-color: #e5eecc;
	border: solid 1px #c3c3c3;
}

#panel {
	padding: 50px;
	display: none;
}
  /* Slide effect end */

.form-control{
	/* border-style: none; */
}
#contact-body{
	
}