.navbar{
	background-color: #fff;
}
body{
	background-color: #f6f6f6
}
.navbar-dark{
    /* transition-property: background-color; */
    transition-duration: .3s;
    transition-timing-function: linear;
}
.navbar-light{
    /* transition-property: background-color; */
    transition-duration: .2s;
    transition-timing-function: linear;
}
.footer{
	padding: 10px;
	background-color: white;
}
.nav-link{
	padding: 8px;
}
#copyright{
	font-size: 18px;
	color: rgb(61, 61, 61);
}
#contact-logo-mail{
	width: auto;
	height: 28px;
}
#contact-logo-linkedin{
	width: auto;
	height: 32px;
}
#contact-logo-github{
	width: auto;
	height: 24px;
}
.wrapper{
	background-color:white;
}
.jumbotron{
	padding-top: 0rem;
	margin-bottom: 0rem;
	height: 35rem;
	background-color: rgb(255, 255, 255);
}
#jumbo-body{
	padding-top: 8rem;
	position: fixed;
	text-align: center;
}
.jumbo-intro{
	opacity: 1;
}

#arrowdown{
	width: 60px;
	height: auto;
	padding: 0px;
}
#wrap-cards{
	background-color:#f6f6f6;
	margin-top: 0em;
}
.card{
	border-style: hidden;
}
.content-cards{
	border-radius: 10px;
	margin: 1px;
	padding: 0px;
}

.c-img{
	border-radius: 10px;
	position: relative;
}
.c-text{
	position: absolute;
	font-size: 24px;
	color: whitesmoke;
	background-color: #004250;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 10px;
	align-self: center;
	top: 45%;
}
.content-cards:hover .c-img{
	opacity: .7;
}
.content-cards:hover .c-text{
	position: absolute;
	font-size: 24px;
	color: whitesmoke;
	background-color: #004250;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 10px;
	align-self: center;
	top: 45%;
	opacity: 1;
	z-index: 1;
}
.container-fluid{
	margin-top: 4rem;
}
#cards-container{
	padding-top: 25px;
	padding-bottom: 25px;
}
#row1{
	display: flex;
	justify-content: center;
	align-items: center;
}
#row2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.media{
	padding-bottom: 2rem;
}
.tab-body{
	margin-top: 7rem;
	margin-bottom: 1rem;
}
#resume-body{
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#resume{
	width: 100%;
	height: auto;
}
#contact-body{
	margin-top: 5rem;
}
