.navbar{
	background-color: #fff;
}
body{
	background-color:#f6f6f6;
}
.navbar-dark{
    /* transition-property: background-color; */
    transition-duration: .3s;
    transition-timing-function: linear;
}
.navbar-light{
    /* transition-property: background-color; */
    transition-duration: .2s;
    transition-timing-function: linear;
}
.jumbotron{
	padding-top: 0rem;
	height: 35rem;
	background-color: rgb(255, 255, 255);
}
#jumbo-body{
	padding-top: 15rem;
	position: relative;
}
#arrowdown{
	width: 5%;
	height: auto;
	position: relative;
	padding: 0px;
}
.card{
	margin: 1px;
	padding: 0px;
	border-style: hidden;
}

/* .card-body{
	padding: 0px;
} */

img{
	border-radius: 10px;
}

.container-fluid{
	margin-top: 10rem;
	margin-bottom: 5rem;

}
#row1{
	display: flex;
	justify-content: center;
	align-items: center;
}
#row2{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	padding: 10px;
	margin-bottom: 10px;
}
#description{
	/* margin-top: 10rem; */
	
}
.media{
	padding-bottom: 2rem;
}
.tab-body{
	margin-top: 10rem;
	margin-bottom: 5rem;
}
#resume-body{
	/* padding: 2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
#resume{
	width: 100%;
	height: auto;
}